.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.centered-content {
    padding: 20px;
    border-radius: 10px;
    color: #2c3e50;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .grid-centered-content {
    padding: 20px;
    border-radius: 10px;
    color: white;
  }

  .header-bg {
    background-color: #8298e4;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 8px;
  }

  .line {
    padding: 10px;
    margin-top: 15px;
  }

  